/* Basic Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F2EFE7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}

.container {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

/* Screens */

.screen {
    display: none;
    padding: 2rem;
    text-align: center;
}

.screen.active {
    display: block;
}

/* Start Screen */

#start-screen h1 {
    color: #006A71;
    margin-bottom: 20px;
    font-size: 2.5rem;
}
#start-screen p {
    color: #353935;
    margin-bottom: 30px;
    font-size: 1.1rem;
}

.quiz-header {
    margin-bottom: 2rem;
}

#question-text {
    color: #353935;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.quiz-info {
    display: flex;
    justify-content: space-between;
    color: #353935;
    margin-bottom: 10px;
}

.answers-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.answer-btn {
    background-color: #F2EFE7;
    color: #353935;
    border: 2px solid #c9c7c1;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    text-align: left;
    transform: all 0.3s ease;
}

.answer-btn:hover {
    background-color: #F2EFE7;
    border-color: #9ACBD0;
    transition: border-color 0.3s ease;
}

.answer-btn.correct {
    background-color: #AFE1AF;
    border-color: #81d681;
    color: #353935;
}

.answer-btn.incorrect {
    background-color: rgb(252, 141, 141);
    border-color: rgb(199, 93, 93);
    color: #353935;
}

.progress-bar {
    height: 10px;
    background-color: #F2EFE7;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

.progress {
    height: 100%;
    background-color: #006A71;
    width: 0%;
    transition: width 0.3s ease;
}

/* Result Screen */

#result-screen h1 {
    color: #006A71;
    margin-bottom: 30px;
}

.result-info {
    background-color: #F2EFE7;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.result-info p{
    font-size: 1.2rem;
    color: #353935;
    margin-bottom: 1rem;
}

#result-message {
    font-size: 1.5rem;
    font-weight: 600;
    color: #353935;
}

button {
    background-color: #006A71;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #01474d;
}

/* Responsive Design */

@media (max-width:500px) {
    /* when we hit 500px and below, implement these styles */

    .screen {
        padding: 1rem;
    }

    #start-screen h1 {
        font-size: 2rem;
    }

    #question-text {
        font-size: 1.3rem;
    }

    .answer-btn {
        padding: 12px;
    }

    button {
        padding: 12px 25px; 
        font-size: 1rem;
    }
}